.login-header-text {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #042c5c;
  color: rgb(4, 44, 92);
  font-weight: bold;
  font-size: 23px;
  margin: 30px 0 50px 0;
}
.btn-submit {
  color: #fff;
  background-color: #36e9f7;
  font-size: 17px;
  -webkit-box-shadow: 10px 10px 18px -3px rgba(54, 233, 247, 0.69) !important;
  -moz-box-shadow: 10px 10px 18px -3px rgba(54, 233, 247, 0.69) !important;
  box-shadow: 10px 10px 18px -3px rgba(54, 233, 247, 0.69) !important;
}

.btn-submit:hover {
  background-color: #36e9f7 !important;
  color: #fff !important;
}

.login-footer {
  margin-top: auto;
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-footer a:first-child {
  color: #042c5c !important;
}

.login-footer a:last-child {
  color: #ff4e6a !important;
  font-size: 20px;
}

.footer-lg-screen {
  display: none;
}
.forgot-pw-lg-screen {
  display: none !important;
}

@media (min-width: 990px) {
  .login-footer {
    display: none;
  }
  .footer-lg-screen {
    display: block;
  }
  .forgot-pw-lg-screen {
    display: flex !important;
    justify-content: end;
  }
}
